.pulse {
    z-index: 2;
    background-color: #ffffff;
    width: 90px;
    height: 90px;
    border-radius: 50%;
    box-shadow: 0 0 0 7px rgba(215, 204, 200, 1);
    cursor: pointer;
    animation-name: pulse;
    animation-iteration-count: infinite;
    animation-duration: 2.5s;
    /* animation-delay: 4s; */
    transition: 0.3s;
}

.pulse__inner {
    position: relative;
    padding: 6px;
    width: 93px;
    height: 93px;
}

.pulse_page_index {
    position: absolute;
    bottom: 75px;
    left: 40%;
}

.documentation-pulse {
    position: fixed;
    right: 50px;
    bottom: 110px;
    transform: none;
}

.pulse__wrap {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.pulse__wrap_number_one {
    position: relative;
    left: -1px;
    top: -1px;
    border-right: 1px solid rgba(215, 204, 200, 1);
    border-top: 1px solid rgba(215, 204, 200, 1);
    border-bottom: 1px solid rgba(215, 204, 200, 1);
    border-left: 1px solid transparent;
    transform: rotate(30deg);
    padding: 6px;
}

.pulse__wrap_number_two {
    border-right: 1px solid rgba(215, 204, 200, 1);
    border-top: 1px solid rgba(215, 204, 200, 1);
    border-bottom: 1px solid rgba(215, 204, 200, 1);
    border-left: 1px solid transparent;
    transform: rotate(200deg);
}

.pulse__icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 35px;
    color: #6D4C41;
}

.pulse:hover {
    animation: none;
    transition: 0.3s;
}

.pulse:hover .pulse__icon {
    color: #FFD180;
    box-shadow: 0 0 0 7 #D7CCC8;
    transition: 0.3s;
}

@keyframes pulse {
    0% {
        box-shadow: 0 0 0 7px rgba(215, 204, 200, 1);
    }
    30% {
        box-shadow: 0 0 0 25px rgba(215, 204, 200, 0);
    }
    100% {
        box-shadow: 0 0 0 7px rgba(215, 204, 200, 1);
    }
}

.pulse__form {
    display: none;
    position: fixed;
    width: 100%;
    max-width: 634px;
    border-radius: 50px;
    background: white;
    padding: 18px 30px 17px 30px;
    box-shadow: 0px 3px 8px -1px rgba(108, 108, 108, 0.75);
    right: 50px;
    bottom: 110px;
}

.pulse__form-cnt {
    display: flex;
    align-items: center;
    flex-flow: row wrap;
}

.pulse__form-wt {
    flex: 1 1 35%;
    padding-right: 18px;
}

.pulse__inp-block {
    flex: 1 1 60%;
    position: relative;
    padding-right: 23px;
}

.pulse__close {
    flex: 1 1 5%;
    cursor: pointer;
    text-align: right;
}

.pulse__form-wt-title {
    font-size: 12px;
    font-weight: bold;
    color: #A1887F;
    margin-bottom: 14px;
    margin-top: 5px;
}

.pulse__form-wt-value {
    font-size: 12px;
    color: #A1887F;
}

.pulse__inp {
    border-radius: 50px;
    padding-right: 160px !important;
}

.pulse__submit {
    position: absolute;
    top: 0;
    right: 23px;
}

.pulse__close ._svg {
    width: 20px;
    height: 19px;
}

.pulse__close ._svg * {
    fill: #D7CCC8;
    transition: 0.3s;
}

.pulse__close:hover ._svg * {
    fill: #6D4C41;
    transition: 0.3s;
}

@media (max-width: 767px) {
    .pulse {
        width: 60px;
        height: 60px;
    }
    .pulse__inner {
        width: 63px;
        height: 63px;
    }
    .pulse__icon i {
        font-size: 26px !important;
    }

    .documentation-pulse {
        right: 10px;
        bottom: 10px;
    }
}