extends ./layout/layout
block head-box
    - var pageTitle = 'Жилой комплекс Ярославский';
    - var pageImg = './assets/img/social.jpg';
    - var version = 5;
    - var header = true;
    - var commercial = true;
block layout-box