extends ./layout/layout
block head-box
    - var pageTitle = 'Жилой комплекс Ярославский';
    - var pageImg = './assets/img/social.jpg';
    - var version = 5;
    - var video = true;
    - var header = true;
    - var rightside = true;
    - var infoblock = true;

block layout-box
