.contacts-info__blocks
    .contacts-info__block
        .contacts-info__block-img
            i.fa.fa-map-marker(aria-hidden='true')
        .contacts-info__text
            .contacts-info__text-title Адрес:
            .contacts-info__text-body ул. Монакова, д. 4
    .contacts-info__block
        .contacts-info__block-img
            i.fa.fa-phone(aria-hidden='true')
        .contacts-info__text
            .contacts-info__text-title Телефон:
            .contacts-info__text-body
                P +7 (351) 210-00-06;
                P 210-00-07
    .contacts-info__block
        .contacts-info__block-img
            i.fa.fa-clock-o(aria-hidden='true')
        .contacts-info__text
            .contacts-info__text-title Режим работы:
            .contacts-info__text-body
                p с понедельника
                p по пятницу - с 9:00 до 18:00