.infoblock
    .infoblock__top
        .infoblock__inner
            .infoblock__phone-icon
                i.fa.fa-phone(aria-hidden='true')
            .infoblock__text.infoblock__text_size_small 8 (351) 210-00-06
            .infoblock__text.infoblock__text_size_small Будние дни с 9:00 до 18:00
    .infoblock__medium
        .infoblock__text.infoblock__text_size_big ЖК Ярославский
        .infoblock__text.infoblock__text_size_medium Ориентирован на запад, создан для вас
    .infoblock__bottom
        .infoblock__inner
            .infoblock__phone-icon
                i.fa.fa-map-marker(aria-hidden='true')
            .infoblock__text.infoblock__text_size_small Челябинск, ул.Монакова, 4
    .infoblock__center
        .infoblock__copyright.infoblock__text.infoblock__text_size_small © Все права защищены, CК «НИКС», 2017