ul
    li(style="padding: 15px")
        a(href="main.html") main.html
    li(style="padding: 15px")
        a(href="documentation.html") documentation.html
    li(style="padding: 15px")
        a(href="promotions.html") promotion.html
    li(style="padding: 15px")
        a(href="gallery.html") gallery.html
    li(style="padding: 15px")
        a(href="contact.html") contact.html
    li(style="padding: 15px")
        a(href="about.html") about.html
    li(style="padding: 15px")
        a(href="commercial.html") commercial.html
    li(style="padding: 15px")
        a(href="flat.html") flat.html
    li(style="padding: 15px")
        a(href="flats.html") flats.html
    li(style="padding: 15px")
        a(href="flat-floor.html") flat-floor.html
    li(style="padding: 15px")
        a(href="flatHouse.html") flatHouse.html



